.ClickToEdit-body {
  width: 100%;
  height: 90%;
}

.box {
  display: inline-block;
  border: 1px solid lightgray;
  width: 150px;
  height: 25px;
  margin-bottom: 30px;
}

.ClickToEdit-body input:focus {
  outline: 2px solid skyblue;
  border: 2px solid black;
}

.ClickToEdit-body label {
  font-weight: bold;
  margin-right: 15px;
}

.focus {
  margin-bottom: 30px;
}

.ClickToEdit-body input {
  width: 150px;
  height: 25px;
  text-align: center;
}
